@keyframes division-grow {
  from{
    display: flex;
    flex-grow: 1;
    min-height: 26em;
    overflow: hidden;
    background-size: 100%;
    background-position: 0% 0%;
  }

  to{
    display: flex;
    min-height: 96em;
    overflow: hidden;
    background-size: 100%;
    background-position: 0% -10%;
    border-radius: 10px;
  }
}


@keyframes gradient-grow-new {
  from{
    height: 26em;
    background: linear-gradient(0deg, rgba(235,235,235,1) 97%, rgba(255,255,255,0.14189425770308128) 100%);}
    to{
      height: 88em;
      background: linear-gradient(0deg, rgba(235,235,235,1) 97%, rgba(255,255,255,0.14189425770308128) 100%);
    }

}


@keyframes content-img-enter {
    from{
        clip-path: inset(25% 40% 40% 25%);
         transform: translateY(-100px);
         opacity: 0;

      }
    to{
      clip-path: inset(0% 0% 0% 0%);
      transform: translateY(0);
      opacity: 1;
    }
}

html{
  scroll-behavior: smooth;
}

body{
  background-color: #f1f1f1;
  padding: 0 1.5em 0 1.5em;
font-family: 'Montserrat', sans-serif;
}


.tile-link{
  width:100%;
  text-decoration: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 26em;
}

.row{
  display: flex;
  justify-content: space-between;
  margin: 1em;
  position: relative;
}

/* .col-sm-12{
  transition: 0.05s;
}

.col-md-6{
  transition: 0.05s;
} */


.major-division{
  min-height: 26em;
  background-color: #ebebeb;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  z-index: 0;
}

.major-division:hover{
  position: relative;
  transform: translateY(-7px);
  transition: 0.6s;
}

/* .major-division::before{
  content: "\f060";
  font-family: FontAwesome;
  border-style: dotted;
  border-top: 3em;
} */

.minor-division{
  position: relative;
  z-index:0;
  overflow: hidden;
  display: flex;
  height: 26em;
  border-radius: 10px;
  border: solid 2px rgba(0, 0, 0, 0.1);
}

.minor-division:hover{
  transform: translateY(-7px);
  transition: 0.6s;
}


.back-button{
  position: absolute;
  top: 0;
  left: 0;
  margin: 1em 0 0 1.5em;
  font-size: 2.5em;
  z-index: 99;
  color: #ffffff;
  background: none;
  border: none;
}

.alt-back-button{
  position: absolute;
  top: 0;
  left: 0;
  margin: 1em 0 0 1.5em;
  font-size: 2.5em;
  z-index: 99;
  color: #a1a1a1;
  background: none;
  border: none;
}


.back-button-hidden{
  display: none;

}



.division-banner{
  position: absolute;
  /* top: -150px; */
  left:0;
  z-index: 0;
  max-width: 100%;
}

.major-division-banner{
  position: absolute;
  top: -320px;
  left:0;
  z-index: -99;
  max-width: 100%;
}

.minor-division-banner{
  position: absolute;
  top: -75px;
  left:0;
  z-index: 0;
  max-width: 100%;
}

.division-title-gradient{
  position: absolute;
  z-index:1;
  left: 0;
  bottom: 0;
  height: 26em;
  background: linear-gradient(0deg, rgba(35,35,35,0.5) 7%, rgba(35,35,35,0.25) 20%, rgba(35,35,35,0.011642156862745057) 50%, rgba(35,35,35,0) 100%);
  background-size: cover;
  width: 100%;
}

.division-title-gradient-clicked{
  animation: gradient-grow-new 2s forwards;
}

.title-container{
  position: absolute;
  bottom: 0;
  left:0;
  padding: 0 0 0 2em;

}

.division-title-text{
  font-family: HelveticaNeue, sans-serif;
  font-weight: 700;
  font-size: 2.5em;
  color: white;
  margin-bottom: 0.5em;

}

.division-logo{
  width: 10em;
  height: auto;
  margin-bottom: 0.25em
  /* margin: 0% 0% 1% 5%; */
}

.horizontal-division-logo{
  width: 6em;
  height: auto;
  /* margin: 0% 0% 1% 5%; */
}

.detailed-division-logo{
  width: 15em;
  height: auto;
  /* margin: 0% 0% 1% 5%; */
}

.division-clicked{
  animation: division-grow 2s forwards;
}



.division-content-visible{
  display: block;
}

.division-content-hidden{
  display: none;
}

.division-title-visible{
  display: block;
  position: relative;
  top: 25em;
  left:0;
  z-index: 2;
}

.division-title-hidden{
  display: none;
}

.division-link-button{
  background-color: #2A6FBD;
  border-radius: 10px;
  color: white;
  padding: 0.75em 1em 0.75em 1em;
  width: 100%;
  text-align: center;
  font-weight: 500;
  font-size: 1.75em;
  height: auto;
  color: #ffffff
}

.division-link-button:hover{
  color: white;
  text-decoration: none;
}

.division-details{
  display: flex;
  align-items:center;
  padding: 0em 5em 0em 5em;
  margin: 4em 0 7em 0;
}

.content-logo{
  width: 12em;
  height: auto;
}

.detailed-content-logo{
  width: 19em;
  height: auto;
}

.content-container{
  padding: 0 5em 0 5em;
}

.contact-info{
  font-size: 1.5em;
  font-weight: 300;
  color: black;
  line-height: 1em;
  margin: 0 0 0.6em 0;
}

.contact-title{
  font-size: 2.5em;
  font-weight: 600;
}

.larsen-contact-title{
  font-size: 1.5em;
  font-weight: 600;
}

.larsen-contact-info{
  font-size: 1.25em;
  font-weight: 300;
  color: black;
  line-height: 1em;
  margin: 0 0 0.6em 0;
}

.larsen-contact-mobile{
  margin-bottom: 0;
}

.email-address{
  text-decoration: underline;
  color: #000000;
}

.email-address:hover{
  text-decoration: underline;
}

.content-row{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 2em 0 2em;
  margin: 3em 0 3em 0;
}

.row-gutter{
  margin: -2em 0 0 0;
}

.content-img-col{
  display: flex;
  justify-content: flex-end;
}

.content-img{
  opacity: 0;
  width: 100%;
  height: auto;
  border-radius: 0px;
  animation: content-img-enter 0.5s forwards;
  animation-delay: 0.5s;
}

.content-text{
  font-size: 1.75em;
  font-weight: 300;
  color: #000000;
  justify-content: flex-end;
}

.mobile-content-container{
  display: none;
}
























/* Media Breakpoints and responsiveness rules */
@media only screen and (max-width: 1800px) {
  @keyframes division-grow {
    from{
      display: flex;
      flex-grow: 1;
      min-height: 26em;
      overflow: hidden;
      background-size: 100%;
      background-position: 0% 0%;
    }

    to{
      display: flex;
      /* flex-grow: 2; */
      min-height: 88em;
      overflow: hidden;
      background-size: 100%;
      background-position: 0% -10%;
      border-radius: 10px;
    }
  }

  @keyframes gradient-grow-new {
    from{
      height: 26em;
      background: linear-gradient(0deg, rgba(235,235,235,1) 97%, rgba(255,255,255,0.14189425770308128) 100%);}
      to{
        height: 80em;
        background: linear-gradient(0deg, rgba(235,235,235,1) 97%, rgba(255,255,255,0.14189425770308128) 100%);
      }

  }

  .major-division-banner{
    position: absolute;
    top: -300px;
    left:0;
    z-index: 0;
    max-width: 100%;
  }

  .minor-division-banner{
    position: absolute;
    top: -25px;
    left:0;
    z-index: 0;
    max-width: 100%;
  }

  .division-logo{
    width: 10em;
    height: auto;
    margin-bottom: 0.25em
    /* margin: 0% 0% 1% 5%; */
  }

  .horizontal-division-logo{
    width: 6em;
    height: auto;
    /* margin: 0% 0% 1% 5%; */
  }

  .detailed-division-logo{
    width: 15em;
    height: auto;
    /* margin: 0% 0% 1% 5%; */
  }

  .division-title-text{
    font-family: HelveticaNeue, sans-serif;
    font-weight: 700;
    font-size: 2.5em;
    color: white;
    margin-bottom: 0.5em;
  }

  .content-logo{
    width: 10em;
    height: auto;
  }

  .detailed-content-logo{
    width: 17em;
    height: auto;
  }

  .content-container{
    padding: 0 5em 0 5em;
  }



  .contact-info{
    font-size: 1.5em;
    font-weight: 300;
    color: black;
    line-height: 1em;
    margin: 0 0 0.6em 0;
  }

  .contact-title{
    font-size: 2.5em;
    font-weight: 600;
  }
}
@media only screen and (max-width: 1440px) {
  @keyframes division-grow {
    from{
      display: flex;
      flex-grow: 1;
      min-height: 20em;
      overflow: hidden;
      background-size: 100%;
      background-position: 0% 0%;
    }

    to{
      display: flex;
      /* flex-grow: 2; */
      min-height: 78em;
      overflow: hidden;
      background-size: 100%;
      background-position: 0% -10%;
      border-radius: 10px;
    }
  }

  @keyframes gradient-grow-new {
    from{
      height: 20em;
      background: linear-gradient(0deg, rgba(235,235,235,1) 97%, rgba(255,255,255,0.14189425770308128) 100%);}
      to{
        height: 70em;
        background: linear-gradient(0deg, rgba(235,235,235,1) 97%, rgba(255,255,255,0.14189425770308128) 100%);
      }

  }

  .major-division{
    min-height: 22em;
    background-color: #ebebeb;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    z-index: 0;
  }

  .major-division:hover{
    position: relative;
    transform: translateY(-7px);
    transition: 0.6s;
  }

  .minor-division{
    position: relative;
    z-index:0;
    overflow: hidden;
    display: flex;
    height: 22em;
    border-radius: 10px;
    border: solid 2px rgba(0, 0, 0, 0.1);
  }

  .major-division-banner{
    position: absolute;
    top: -300px;
    left:0;
    z-index: 0;
    max-width: 100%;
  }

  .minor-division-banner{
    position: absolute;
    top: -20px;
    left:0;
    z-index: 0;
    max-width: 100%;
  }

  .division-title-gradient{
    position: absolute;
    z-index:1;
    left: 0;
    bottom: 0;
    height: 22em;
    background: linear-gradient(0deg, rgba(35,35,35,0.5) 7%, rgba(35,35,35,0.25) 20%, rgba(35,35,35,0.011642156862745057) 50%, rgba(35,35,35,0) 100%);
    background-size: cover;
    width: 100%;
  }

  .division-title-visible{
    display: block;
    position: relative;
    top: 21em;
    left:0;
    z-index: 2;
  }


  .content-logo{
    width: 9em;
    height: auto;
  }

  .detailed-content-logo{
    width: 16em;
    height: auto;
  }

  .division-details{
    display: flex;
    align-items:center;
    justify-content: flex-start;
    padding: 0em 3.5em 0em 3.5em;
    margin: 4em 0 3em 0;
  }

  .content-container{
    padding: 0 1.5em 0 1.5em;
  }

  .content-row{
    padding: 0;
  }

  .contact-info{
    font-size: 1.4em;
    font-weight: 300;
    color: black;
    line-height: 1em;
    margin: 0 0 0.6em 0;
  }

  .contact-title{
    font-size: 2.2em;
    font-weight: 600;
  }

  .larsen-contact-title{
    font-size: 2.2em;
    font-weight: 600;
  }

  .larsen-contact-info{
    font-size: 1.4em;
    font-weight: 300;
    color: black;
    line-height: 1em;

  }

  .division-link-button{
    background-color: #2A6FBD;
    border-radius: 10px;
    color: white;
    padding: 0.5em 1em 0.5em 1em;
    width: 100%;
    text-align: center;
    font-weight: 500;
    font-size: 1.5em;
    margin-top: 1em;

  }

  .content-text{
    font-size: 1.4em;
    font-weight: 300;
    color: #000000;
    justify-content: flex-end;
  }
}
@media only screen and (max-width: 1200px) {
  @keyframes division-grow {
    from{
      display: flex;
      flex-grow: 1;
      min-height: 14em;
      overflow: hidden;
      background-size: 100%;
      background-position: 0% 0%;
    }

    to{
      display: flex;
      /* flex-grow: 2; */
      min-height: 74em;
      overflow: hidden;
      background-size: 100%;
      background-position: 0% -10%;
      border-radius: 10px;
    }
  }

  @keyframes gradient-grow-new {
    from{
      height: 14em;
      background: linear-gradient(0deg, rgba(235,235,235,1) 97%, rgba(255,255,255,0.14189425770308128) 100%);}
      to{
        height: 68em;
        background: linear-gradient(0deg, rgba(235,235,235,1) 97%, rgba(255,255,255,0.14189425770308128) 100%);
      }

  }

  .major-division{
    min-height: 18em;
    background-color: #ebebeb;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    z-index: 0;
  }

  .major-division:hover{
    position: relative;
    transform: translateY(-7px);
    transition: 0.6s;
  }

  .minor-division{
    position: relative;
    z-index:0;
    overflow: hidden;
    display: flex;
    height: 18em;
    border-radius: 10px;
    border: solid 2px rgba(0, 0, 0, 0.1);
  }

  .major-division-banner{
    position: absolute;
    top: -100px;
    left:0;
    z-index: 0;
    max-width: 100%;
  }

  .minor-division-banner{
    position: absolute;
    top: 0px;
    left:0;
    z-index: 0;
    max-width: 100%;
  }

  .division-title-gradient{
    position: absolute;
    z-index:1;
    left: 0;
    bottom: 0;
    height: 18em;
    background: linear-gradient(0deg, rgba(35,35,35,0.5) 7%, rgba(35,35,35,0.25) 20%, rgba(35,35,35,0.011642156862745057) 50%, rgba(35,35,35,0) 100%);
    background-size: cover;
    width: 100%;
  }

  .division-title-visible{
    display: block;
    position: relative;
    top: 18em;
    left:0;
    z-index: 2;
  }


  .back-button{
    position: absolute;
    top: 0;
    left: 0;
    margin: 0.75em 0 0 1em;
    font-size: 1.75em;
    z-index: 99;
    color: #ffffff;
    background: none;
    border: none;
  }

  .alt-back-button{
    position: absolute;
    top: 0;
    left: 0;
    .back-button{
      position: absolute;
      top: 0;
      left: 0;
      margin: 2em 0 0 1.5em;
      font-size: 2.5em;
      z-index: 99;
      color: #ffffff;
      background: none;
      border: none;
}
    .alt-back-button{
      position: absolute;
      top: 0;
      left: 0;
      margin: 2em 0 0 1.5em;
      font-size: 2.5em;
      z-index: 99;
      color: #a1a1a1;
      z-index: 99;
      color: #a1a1a1;
      background: none;
      border: none;
  }

  .division-logo{
    width: 8.5em;
    height: auto;
    margin-bottom: 0.25em
    /* margin: 0% 0% 1% 5%; */
  }

  .horizontal-division-logo{
    width: 5em;
    height: auto;
    /* margin: 0% 0% 1% 5%; */
  }

  .detailed-division-logo{
    width: 13em;
    height: auto;
    /* margin: 0% 0% 1% 5%; */
  }

  .division-title-text{
    font-family: HelveticaNeue, sans-serif;
    font-weight: 700;
    font-size: 2.2em;
    color: white;
    margin-bottom: 0.5em;

  }

  .content-logo{
    display: flex;
    width: 9em;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .detailed-content-logo{
    width: 13em;
    height: auto;
  }

  .content-container{
    padding: 0 3em 0 3em;
  }

  .contact-info{
    font-size: 1.4em;
    font-weight: 300;
    color: black;
    line-height: 1em;
    margin: 0 0 0.6em 0;
  }

  .contact-title{
    font-size: 1.8em;
    font-weight: 600;
  }

  .larsen-contact-title{
    font-size: 1.8em;
    font-weight: 600;
  }

  .larsen-contact-info{
    font-size: 1.4em;
    font-weight: 300;
    color: black;
    line-height: 1em;

  }

  .division-link-button{
    background-color: #2A6FBD;
    border-radius: 10px;
    color: white;
    padding: 0.5em 0.75em 0.5em 0.75em;
    width: 100%;
    text-align: center;
    font-weight: 500;
    font-size: 1.7em;
    margin-top: 1em;

  }

  .division-details{
    display: flex;
    align-items:center;
    justify-content: flex-start;
    padding: 0em 1em 0em 1em;
    margin: 4em 0 3em 0;
  }

  .content-row{
    padding: 0 1em 0 1em;
  }

  .content-text{
    font-size: 1.3em;
    font-weight: 300;
    color: #000000;
    justify-content: flex-end;
  }

}

@media only screen and (max-width: 992px) {

  @keyframes division-grow {
    from{
      display: flex;
      flex-grow: 1;
      min-height: 14em;
      overflow: hidden;
      background-size: 100%;
      background-position: 0% 0%;
    }

    to{
      display: flex;
      /* flex-grow: 2; */
      min-height: 80em;
      overflow: hidden;
      background-size: 100%;
      background-position: 0% -10%;
      border-radius: 10px;
    }
  }

  @keyframes gradient-grow-new {
    from{
      height: 14em;
      background: linear-gradient(0deg, rgba(235,235,235,1) 97%, rgba(255,255,255,0.14189425770308128) 100%);}
      to{
        height: 75em;
        background: linear-gradient(0deg, rgba(235,235,235,1) 97%, rgba(255,255,255,0.14189425770308128) 100%);
      }

  }

  .major-division{
    min-height: 14em;
    background-color: #ebebeb;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    z-index: 0;
  }

  .major-division:hover{
    position: relative;
    transform: translateY(-7px);
    transition: 0.6s;
  }

  .minor-division{
    position: relative;
    z-index:0;
    overflow: hidden;
    display: flex;
    height: 14em;
    border-radius: 10px;
    border: solid 2px rgba(0, 0, 0, 0.1);
  }

  .division-title-gradient{
    position: absolute;
    z-index:1;
    left: 0;
    bottom: 0;
    height: 14em;
    background: linear-gradient(0deg, rgba(35,35,35,0.5) 7%, rgba(35,35,35,0.25) 20%, rgba(35,35,35,0.011642156862745057) 50%, rgba(35,35,35,0) 100%);
    background-size: cover;
    width: 100%;
  }

  .division-title-visible{
    display: block;
    position: relative;
    top: 13em;
    left:0;
    z-index: 2;
  }


  .title-container{
  padding: 0 0 0 0.75em;
  }

  /* .major-division-banner{
    position: absolute;
    top: 0px;
    left:0;
    z-index: 0;
    max-width: 100%;
  } */

  .minor-division-banner{
    position: absolute;
    top: 0px;
    left:0;
    z-index: 0;
    max-width: 100%;
  }

  .division-logo{
    width: 5.5em;
    height: auto;
    margin-bottom: 0.5em
    /* margin: 0% 0% 1% 5%; */
  }

  .horizontal-division-logo{
    width: 4em;
    margin-bottom: 0.5em;
    height: auto;
    /* margin: 0% 0% 1% 5%; */
  }

  .detailed-division-logo{
    width: 10em;
    margin-bottom: 0.5em;
    height: auto;
    /* margin: 0% 0% 1% 5%; */
  }
  .division-title-text{
    font-family: HelveticaNeue, sans-serif;
    font-weight: 700;
    font-size: 1.5em;
    line-height: 1em;
    color: white;
    margin-bottom: 0.6em;

  }

  .content-logo{
    width: 12em;
    height: auto;
  }

  .detailed-content-logo{
    width: 17em;
    height: auto;
  }

  .content-container{
    display: none;
    padding: 0 2.5em 0 2.5em;
  }

  .mobile-content-container{
    display: block;
  }

  .contact-info{
    font-size: 1.2em;
    font-weight: 300;
    color: black;
    line-height: 1em;
    margin: 0 0 0.6em 0;
  }

  .contact-title{
    font-size: 1.6em;
    font-weight: 600;
  }

  .division-link-button{
    background-color: #2A6FBD;
    border-radius: 10px;
    color: white;
    padding: 0.5em 0.75em 0.5em 0.75em;
    width: 100%;
    text-align: center;
    font-weight: 500;
    font-size: 1.5em;
    margin-top: 1em;

  }

  .division-details{
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 0em 1em 0em 1em;
    margin: 4em 0 3em 0;
  }

  .content-row{
    padding: 0 1em 0 1em;
  }

  .content-img{
    margin: 2em 0 1em 0;
  }

  .content-text{
    font-size: 1.3em;
    font-weight: 300;
    color: #000000;
    justify-content: flex-end;
    margin-bottom: 0.5em;
  }
}



@media only screen and (max-width: 768px) {

  @keyframes division-grow {
    from{
      display: flex;
      flex-grow: 1;
      min-height: 10em;
      overflow: hidden;
      background-size: 100%;
      background-position: 0% 0%;
    }

    to{
      display: flex;
      /* flex-grow: 2; */
      min-height: 63em;
      overflow: hidden;
      background-size: 100%;
      background-position: 0% -10%;
      border-radius: 10px;
    }
  }

  @keyframes gradient-grow-new {
    from{
      height: 10em;
      background: linear-gradient(0deg, rgba(235,235,235,1) 97%, rgba(255,255,255,0.14189425770308128) 100%);}
      to{
        height: 57em;
        background: linear-gradient(0deg, rgba(235,235,235,1) 97%, rgba(255,255,255,0.14189425770308128) 100%);
      }

  }

  .title-container{
    padding: 0;
  }

  .major-division{
    min-height: 10em;
    background-color: #ebebeb;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    z-index: 0;
  }

  .major-division:hover{
    position: relative;
    transform: translateY(-7px);
    transition: 0.6s;
  }

  .minor-division{
    position: relative;
    z-index:0;
    overflow: hidden;
    display: flex;
    height: 10em;
    border-radius: 10px;
    border: solid 2px rgba(0, 0, 0, 0.1);
  }

  .division-title-gradient{
    position: absolute;
    z-index:1;
    left: 0;
    bottom: 0;
    height: 10em;
    background: linear-gradient(0deg, rgba(35,35,35,0.5) 7%, rgba(35,35,35,0.25) 20%, rgba(35,35,35,0.011642156862745057) 50%, rgba(35,35,35,0) 100%);
    background-size: cover;
    width: 100%;
  }

  .division-title-visible{
    display: block;
    position: relative;
    top: 10em;
    left:0;
    z-index: 2;
  }


  .major-division-banner{
    position: absolute;
    top: -100px;
    left:0;
    z-index: 0;
    max-width: 100%;
  }

  .minor-division-banner{
    position: absolute;
    top: -125px;
    left:0;
    z-index: 0;
    max-width: 100%;
  }

  .division-logo{
    width: 5em;
    height: auto;
    margin-bottom: 0em
    /* margin: 0% 0% 1% 5%; */
  }

  .horizontal-division-logo{
    width: 2em;
    height: auto;
    /* margin: 0% 0% 1% 5%; */
  }

  .detailed-division-logo{
    width: 7em;
    height: auto;
    /* margin: 0% 0% 1% 5%; */
}
.title-container{
  display:flex;
  justify-content:flex-start;
  align-items:center;
  margin: 0 0 1.5em 0.6em;
}


.division-title-text{
  font-family: HelveticaNeue, sans-serif;
  font-weight: 700;
  font-size: 1.5em;
  color: white;
  margin-bottom: 0em;
  margin-left: 0.6em;
}

.division-details{
  display: flex;
  align-items:center;
  padding: 0em 1em 0em 1em;
  margin: 4em 0 1em 0;
}


  .content-logo{
    display: none;
    width: 3em;
    height: auto;
  }

  .detailed-content-logo{
    display: none;
    width: 6em;
    height: auto;
  }

  .content-container{
    padding: 0 0 0 0;
    display: none;
  }




  .content-row{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 1em 0 1em;
    margin: 2em 0 1em 0;
  }

  .contact-info{
    font-size: 1em;
    font-weight: 300;
    color: black;
    line-height: 1em;
    margin: 0 0 0.6em 0;
  }

  .contact-title{
    font-size: 1.4em;
    font-weight: 600;
  }

  .larsen-contact-title{
    font-size: 1.4em;
    font-weight: 600;
  }

  .larsen-contact-info{
    font-size: 1em;
    font-weight: 300;
    color: black;
    line-height: 1em;
    margin: 0 0 0.6em 0;
  }

  .larsen-contact-mobile{
    margin-bottom: 1em;
  }

  .division-link-button{
    background-color: #2A6FBD;
    border-radius: 10px;
    color: white;
    padding: 0.5em 0.65em 0.5em 0.65em;
    width: 100%;
    text-align: center;
    font-weight: 500;
    font-size: 1.2em;
    margin-top: 1em;

  }

  .content-img{
    margin: 0 0 1em 0;
  }

  .content-text{
    font-size: 1.1em;
    font-weight: 300;
    color: #000000;
    justify-content: flex-end;
    margin: 0 0 0.6em 0;
  }
}


@media only screen and (max-width: 576px) {

  @keyframes division-grow {
    from{
      display: flex;
      flex-grow: 1;
      min-height: 10em;
      overflow: hidden;
      background-size: 100%;
      background-position: 0% 0%;
    }

    to{
      display: flex;
      /* flex-grow: 2; */
      min-height: 60em;
      overflow: hidden;
      background-size: 100%;
      background-position: 0% -10%;
      border-radius: 10px;
    }
  }

  @keyframes gradient-grow-new {
    from{
      height: 10em;
      background: linear-gradient(0deg, rgba(235,235,235,1) 97%, rgba(255,255,255,0.14189425770308128) 100%);}
      to{
        height: 56em;
        background: linear-gradient(0deg, rgba(235,235,235,1) 97%, rgba(255,255,255,0.14189425770308128) 100%);
      }

  }

  .major-division{
    min-height: 10em;
    background-color: #ebebeb;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    z-index: 0;
  }

  .major-division:hover{
    position: relative;
    transform: translateY(-7px);
    transition: 0.6s;
  }

  .minor-division{
    position: relative;
    z-index:0;
    overflow: hidden;
    display: flex;
    height: 10em;
    border-radius: 10px;
    border: solid 2px rgba(0, 0, 0, 0.1);
  }

  .division-title-gradient{
    position: absolute;
    z-index:1;
    left: 0;
    bottom: 0;
    height: 10em;
    background: linear-gradient(0deg, rgba(35,35,35,0.5) 7%, rgba(35,35,35,0.25) 20%, rgba(35,35,35,0.011642156862745057) 50%, rgba(35,35,35,0) 100%);
    background-size: cover;
    width: 100%;
  }
  .division-title-visible{
    display: block;
    position: relative;
    top: 10em;
    left:0;
    z-index: 2;
  }


  .major-division-banner{
    position: absolute;
    top: -50px;
    left:0;
    z-index: 0;
    max-width: 100%;
  }

  .minor-division-banner{
    position: absolute;
    top: 0px;
    left:0;
    z-index: 0;
    max-width: 100%;
  }

  .division-logo{
    width: 5em;
    height: auto;
    margin-bottom: 0em;
    /* margin: 0% 0% 1% 5%; */
  }

  .horizontal-division-logo{
    width: 2em;
    height: auto;
    /* margin: 0% 0% 1% 5%; */
  }

  .detailed-division-logo{
    width: 7em;
    height: auto;
    /* margin: 0% 0% 1% 5%; */
}

.division-title-text{
  font-family: HelveticaNeue, sans-serif;
  font-weight: 700;
  font-size: 1.3em;
  color: white;
  margin-bottom: 0em;
  margin-left: 0.5em;
}
.division-details{
  display: flex;
  align-items:center;
  padding: 0em 1em 0em 1em;
  margin: 4em 0 0em 0;
}

.larsen-contact-mobile{
  margin-bottom: 1em;
}


  .content-logo{
    display: none;
    width: 3em;
    height: auto;
  }

  .detailed-content-logo{
    display: none;
    width: 6em;
    height: auto;
  }

  .mobile-content-container{
    padding: 0 0 0 0;
  }



  .content-row{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 2em 0 2em;
    margin: 2em 0 1em 0;
  }

  .contact-info{
    font-size: 1em;
    font-weight: 300;
    color: black;
    line-height: 1em;
    margin: 0 0 0.6em 0;
  }

  .contact-title{
    font-size: 1.4em;
    font-weight: 600;
  }

  .larsen-contact-title{
    font-size: 1.4em;
    font-weight: 600;
  }

  .larsen-contact-info{
    font-size: 1em;
    font-weight: 300;
    color: black;
    line-height: 1em;
    margin: 0 0 0.6em 0;
  }

  .division-link-button{
    background-color: #2A6FBD;
    border-radius: 10px;
    color: white;
    padding: 0.5em 0.65em 0.5em 0.65em;
    width: 100%;
    text-align: center;
    font-weight: 500;
    font-size: 1.2em;
    margin-top: 1em;
  }
  .content-img{
    margin: 0em 0 1em 0;
  }
  .content-text{
    font-size: 1em;
    font-weight: 300;
    color: #000000;
    margin-bottom: 0.5em;

  }
}
