@keyframes division-grow {
  from{
    display: flex;
    flex-grow: 1;
    min-height: 26em;
    overflow: hidden;
    background-size: 100%;
    background-position: 0% 0%;
  }

  to{
    display: flex;
    /* flex-grow: 2; */
    min-height: 96em;
    overflow: hidden;
    background-size: 100%;
    background-position: 0% -10%;
    border-radius: 10px;
  }
}


@keyframes gradient-grow-new {
  from{
    height: 12em;
    background: linear-gradient(0deg, rgba(235,235,235,1) 97%, rgba(255,255,255,0.14189425770308128) 100%);}
    to{
      height: 88em;
      background: linear-gradient(0deg, rgba(235,235,235,1) 97%, rgba(255,255,255,0.14189425770308128) 100%);
    }

}

/* @keyframes division-grow-width {
  from{
    width: 100%;
  }

  to{
    width: 100%;
  }
} */

@keyframes content-img-enter {
    from{
        clip-path: inset(25% 40% 40% 25%);
         transform: translateY(-100px);
         opacity: 0;

      }
    to{
      clip-path: inset(0% 0% 0% 0%);
      transform: translateY(0);
      opacity: 1;
    }
}

html{
  scroll-behavior: smooth;
}

body{
  background-color: #f1f1f1;
  padding: 0 1.5em 0 1.5em;
font-family: 'Montserrat', sans-serif;
}

a{
  width:100%;
  color: black;
  text-decoration: none;
}

.row{
  display: flex;
  justify-content: space-between;
  margin: 1em;
  position: relative;
}

.col-sm-12{
  transition: 0.15s;
}

.col-md-6{
  transition: 0.15s;
}


.major-division{
  min-height: 26em;
  background-color: #ebebeb;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  z-index: 0;
}

.major-division:hover{
  position: relative;
  transform: translateY(-7px);
  transition: 0.6s;
}

.minor-division{
  position: relative;
  z-index:0;
  overflow: hidden;
  display: flex;
  height: 26em;
  border-radius: 10px;
  border: solid 2px rgba(0, 0, 0, 0.1);
}

.minor-division:hover{
  transform: translateY(-7px);
  transition: 0.6s;
}

/* .minor-division-transition{
  .transition:;
} */

.division-banner{
  position: absolute;
  /* top: -150px; */
  left:0;
  z-index: 0;
  max-width: 100%;
}

.major-division-banner{
  position: absolute;
  top: -320px;
  left:0;
  z-index: 0;
  max-width: 100%;
}

.minor-division-banner{
  position: absolute;
  top: -75px;
  left:0;
  z-index: 0;
  max-width: 100%;
}

.division-title-gradient{
  position: absolute;
  z-index:1;
  left: 0;
  bottom: 0;
  height: 12em;
  background: rgb(35,35,35);
  background: linear-gradient(0deg, rgba(35,35,35,0.77) 20%, rgba(35,35,35,0.011642156862745057) 100%);
  background-size: cover;
  width: 100%;
}

.division-title-gradient-clicked{
  animation: gradient-grow-new 2s forwards;
}

.title-container{
  position: absolute;
  bottom: 0;
  left:0;
  padding: 0 0 0 2em;
}

.division-title-text{
  font-family: HelveticaNeue, sans-serif;
  font-weight: 700;
  font-size: 2.5em;
  color: white;
  margin-bottom: 0.5em;

}

.division-logo{
  width: 10em;
  height: auto;
  margin-bottom: 0.25em
  /* margin: 0% 0% 1% 5%; */
}

.horizontal-division-logo{
  width: 6em;
  height: auto;
  /* margin: 0% 0% 1% 5%; */
}

.detailed-division-logo{
  width: 15em;
  height: auto;
  /* margin: 0% 0% 1% 5%; */
}

.division-clicked{
  animation: division-grow 2s forwards;
}



.division-content-visible{
  display: block;
}

.division-content-hidden{
  display: none;
}

.division-title-visible{
  display: block;
}

.division-title-hidden{
  display: none;
}

.division-link-button{
  background-color: #2A6FBD;
  border-radius: 10px;
  color: white;
  padding: 0.75em 1em 0.75em 1em;
  width: 100%;
  text-align: center;
  font-weight: 500;
  font-size: 1.75em;

}

.division-details{
  display: flex;
  align-items:center;
  padding: 0em 5em 0em 5em;
  margin: 4em 0 7em 0;
}

.content-logo{
  width: 12em;
  height: auto;
}

.detailed-content-logo{
  width: 19em;
  height: auto;
}

.content-container{
  padding: 0 5em 0 5em;
}

.contact-info{
  font-size: 1.5em;
  font-weight: 300;
  color: black;
  line-height: 1em;
  margin: 0 0 0.6em 0;
}

.contact-title{
  font-size: 2.5em;
  font-weight: 600;
}

.larsen-contact-title{
  font-size: 1.5em;
  font-weight: 600;
}

.larsen-contact-info{
  font-size: 1.25em;
  font-weight: 300;
  color: black;
  line-height: 1em;
  margin: 0 0 0.6em 0;
}

.email-address{
  text-decoration: none;
}

.email-address:hover{
  text-decoration: underline;
}

.content-row{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 2em 0 2em;
  margin: 3em 0 3em 0;
}

.row-gutter{
  margin: -2em 0 0 0;
}

.content-img-col{
  display: flex;
  justify-content: flex-end;
}

.content-img{
  opacity: 0;
  width: 100%;
  height: auto;
  border-radius: 0px;
  animation: content-img-enter 0.5s forwards;
  animation-delay: 0.5s;
}

.content-text{
  font-size: 1.75em;
  font-weight: 300;
  color: #000000;
  justify-content: flex-end;
}























/* Media Breakpoints and responsiveness rules */
@media only screen and (max-width: 1800px) {
  .major-division-banner{
    position: absolute;
    top: -300px;
    left:0;
    z-index: 0;
    max-width: 100%;
  }

  .minor-division-banner{
    position: absolute;
    top: -25px;
    left:0;
    z-index: 0;
    max-width: 100%;
  }

  .division-logo{
    width: 10em;
    height: auto;
    margin-bottom: 0.25em
    /* margin: 0% 0% 1% 5%; */
  }

  .horizontal-division-logo{
    width: 6em;
    height: auto;
    /* margin: 0% 0% 1% 5%; */
  }

  .detailed-division-logo{
    width: 15em;
    height: auto;
    /* margin: 0% 0% 1% 5%; */
  }

  .division-title-text{
    font-family: HelveticaNeue, sans-serif;
    font-weight: 700;
    font-size: 2.5em;
    color: white;
    margin-bottom: 0.5em;

  }
}
@media only screen and (max-width: 1500px) {
  .major-division{
    min-height: 22em;
    background-color: #ebebeb;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    z-index: 0;
  }

  .major-division:hover{
    position: relative;
    transform: translateY(-7px);
    transition: 0.6s;
  }

  .minor-division{
    position: relative;
    z-index:0;
    overflow: hidden;
    display: flex;
    height: 22em;
    border-radius: 10px;
    border: solid 2px rgba(0, 0, 0, 0.1);
  }

  .major-division-banner{
    position: absolute;
    top: -300px;
    left:0;
    z-index: 0;
    max-width: 100%;
  }

  .minor-division-banner{
    position: absolute;
    top: -20px;
    left:0;
    z-index: 0;
    max-width: 100%;
  }

  .division-title-gradient{
    position: absolute;
    z-index:1;
    left: 0;
    bottom: 0;
    height: 9em;
    background: rgb(35,35,35);
    background: linear-gradient(0deg, rgba(35,35,35,0.77) 20%, rgba(35,35,35,0.011642156862745057) 100%);
    background-size: cover;
    width: 100%;
  }
}
@media only screen and (max-width: 1200px) {
  .major-division{
    min-height: 18em;
    background-color: #ebebeb;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    z-index: 0;
  }

  .major-division:hover{
    position: relative;
    transform: translateY(-7px);
    transition: 0.6s;
  }

  .minor-division{
    position: relative;
    z-index:0;
    overflow: hidden;
    display: flex;
    height: 18em;
    border-radius: 10px;
    border: solid 2px rgba(0, 0, 0, 0.1);
  }

  .major-division-banner{
    position: absolute;
    top: -100px;
    left:0;
    z-index: 0;
    max-width: 100%;
  }

  .minor-division-banner{
    position: absolute;
    top: -20px;
    left:0;
    z-index: 0;
    max-width: 100%;
  }

  .division-title-gradient{
    position: absolute;
    z-index:1;
    left: 0;
    bottom: 0;
    height: 9em;
    background: rgb(35,35,35);
    background: linear-gradient(0deg, rgba(35,35,35,0.77) 20%, rgba(35,35,35,0.011642156862745057) 100%);
    background-size: cover;
    width: 100%;
  }



  .division-logo{
    width: 8.5em;
    height: auto;
    margin-bottom: 0.25em
    /* margin: 0% 0% 1% 5%; */
  }

  .horizontal-division-logo{
    width: 5em;
    height: auto;
    /* margin: 0% 0% 1% 5%; */
  }

  .detailed-division-logo{
    width: 13em;
    height: auto;
    /* margin: 0% 0% 1% 5%; */
  }

  .division-title-text{
    font-family: HelveticaNeue, sans-serif;
    font-weight: 700;
    font-size: 2em;
    color: white;
    margin-bottom: 0.5em;

  }

}

@media only screen and (max-width: 900px) {
  .major-division{
    min-height: 12em;
    background-color: #ebebeb;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    z-index: 0;
  }

  .major-division:hover{
    position: relative;
    transform: translateY(-7px);
    transition: 0.6s;
  }

  .minor-division{
    position: relative;
    z-index:0;
    overflow: hidden;
    display: flex;
    height: 12em;
    border-radius: 10px;
    border: solid 2px rgba(0, 0, 0, 0.1);
  }

  .division-title-gradient{
    position: absolute;
    z-index:1;
    left: 0;
    bottom: 0;
    height: 4em;
    background: rgb(35,35,35);
    background: linear-gradient(0deg, rgba(35,35,35,0.77) 20%, rgba(35,35,35,0.011642156862745057) 100%);
    background-size: cover;
    width: 100%;
  }

  /* .major-division-banner{
    position: absolute;
    top: 0px;
    left:0;
    z-index: 0;
    max-width: 100%;
  } */

  /* .minor-division-banner{
    position: absolute;
    top: -20px;
    left:0;
    z-index: 0;
    max-width: 100%;
  } */

  .division-logo{
    width: 7em;
    height: auto;
    margin-bottom: 0.25em
    /* margin: 0% 0% 1% 5%; */
  }

  .horizontal-division-logo{
    width: 4em;
    height: auto;
    /* margin: 0% 0% 1% 5%; */
  }

  .detailed-division-logo{
    width: 11em;
    height: auto;
    /* margin: 0% 0% 1% 5%; */
  }
  .division-title-text{
    font-family: HelveticaNeue, sans-serif;
    font-weight: 700;
    font-size: 1.75em;
    color: white;
    margin-bottom: 0.5em;

  }
}

@media only screen and (max-width: 600px) {
  .major-division{
    min-height: 10em;
    background-color: #ebebeb;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    z-index: 0;
  }

  .major-division:hover{
    position: relative;
    transform: translateY(-7px);
    transition: 0.6s;
  }

  .minor-division{
    position: relative;
    z-index:0;
    overflow: hidden;
    display: flex;
    height: 10em;
    border-radius: 10px;
    border: solid 2px rgba(0, 0, 0, 0.1);
  }

  .division-title-gradient{
    position: absolute;
    z-index:1;
    left: 0;
    bottom: 0;
    height: 3em;
    background: rgb(35,35,35);
    background: linear-gradient(0deg, rgba(35,35,35,0.77) 20%, rgba(35,35,35,0.011642156862745057) 100%);
    background-size: cover;
    width: 100%;
  }

  .major-division-banner{
    position: absolute;
    top: -50px;
    left:0;
    z-index: 0;
    max-width: 100%;
  }

  /* .minor-division-banner{
    position: absolute;
    top: -20px;
    left:0;
    z-index: 0;
    max-width: 100%;
  } */

  .division-logo{
    width: 5em;
    height: auto;
    margin-bottom: 0.25em
    /* margin: 0% 0% 1% 5%; */
  }

  .horizontal-division-logo{
    width: 2em;
    height: auto;
    /* margin: 0% 0% 1% 5%; */
  }

  .detailed-division-logo{
    width: 7em;
    height: auto;
    /* margin: 0% 0% 1% 5%; */
}

.division-title-text{
  font-family: HelveticaNeue, sans-serif;
  font-weight: 700;
  font-size: 1.5em;
  color: white;
  margin-bottom: 0.5em;

}
}
